* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: #f9f9f9;
}
main,
footer,
header,
button,
a {
  background-color: hsl(0, 0%, 98%);
  font-family: sans-serif;
}

.gap {
  justify-content: space-between;
}

.im {
  width: 10rem;
}
.done {
  color: rgb(0, 183, 255);
  width: 5%;
  height: 6%;
}
.icon {
  width: 4rem;
}
.icon-2 {
  width: 2rem;
}
.icon-3 {
  width: 2rem;
  height: 2.2rem;
}

section {
  margin-bottom: 7rem;
}
.bul:hover,
.bul:active {
  background-color: blue;
  border: 1px solid blue;
}

@media (max-width: 488px) {
  .pm {
    gap: 1.5rem !important;
  }
} ;
