* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: #f9f9f9;
}
main,
h1,
h3,
h2,
h4,
h5,
footer,
header,
button,
a {
  background-color: hsl(0, 0%, 98%);
  font-family: sans-serif;
}

.gap {
  justify-content: space-between;
}

.im {
  width: 10rem;
}
.done {
  color: rgb(0, 183, 255);
  width: 5%;
  height: 6%;
}
.icon {
  width: 3rem;
  height: 2rem;
}
.icon-2 {
  width: 1.5rem;
  height: 1.5rem;
}
.icon-3 {
  width: 1.5rem;
  height: 1.5rem;
}

section {
  margin-bottom: 7rem;
}
form button:hover {
  background-color: rgb(240, 245, 247);
  border: 1px solid blue;
}
.bul:hover,
.bul:active {
  background-color: rgb(240, 245, 247);
  border: 1px solid blue;
}
.bul-2:hover,
.bul:active {
  background-color: rgb(240, 245, 247);
  border: 1px solid blue;
}
.help {
  width: 4rem;
}
.lag {
  width: 10rem;
}
.cur {
  cursor: pointer;
}

.bul-1,
.bul {
  border: 1px solid;
  padding: 0.7rem 2rem;
}

@media (max-width: 488px) {
  .pm {
    gap: 1.5rem !important;
  }
} ;
